<tr>
  <td><%= claim.id %></td>
  <td><%= claim.claim_number %></td>
  <td><%= claim.claimant_name %></td>
  <td><%= claim.email %></td>
  <td><%= claim.accident_date %></td>
  <td><%= claim.status %></td>
  <td><%= link_to("Edit", edit_admin_claim_path(claim)) %></td>
</tr>
